nav {
    background: #f1eee743;
    width: max-content;
    display: inline-flex;
    padding: 0.9rem 3.8rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 1.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.46);
}

nav a.active {
    background: var(--color-primary-variant);
    color: var(--color-white);
}